@{
    ViewBag.Title = "Where are we going to have lunch? - " + @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<h3>Gabriel Gemelli da Silva</h3>

<address>
    Avenida Dom Cláudio José Gonçalves Ponce de Leon, 140<br />
    Condomínio Terra Nova Vista Alegre<br />
    Torre Cascais<br />
    Apartamento 308<br />
    CEP: 91370-170<br />
    Porto Alegre, RS<br />
    <abbr title="Phone">P:</abbr>
    (51) 99696-7682
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gabrielgemelli@gmail.com">gabrielgemelli@gmail.com</a><br />
</address>